$primary-color: #FF6633;

.ProductList{
    display: flex;
    flex-direction: column;

    .bodyHeader{
        width: inherit;
        padding: 10px 10px;
        height: 15vh;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .handBugger{
            flex-basis: 50px;
            display: flex;
            justify-content: center;
            align-items: center;
            color: $primary-color;
            display: none;
        }
        .searchBar{
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            font-size: larger;
            flex-basis: 200px;
            flex-grow: 4;
            color: $primary-color;
            .search{
                width: 450px;
                outline: none;
                height: 45px;
                border-radius: 20px;
                padding: 10px 20px;
                outline: none;
                border: 0;
                font-size: 1rem;
            }
        }
        .buttons{
            display: flex;
            align-items: center;
            justify-content: space-evenly;
            flex-basis: 50px;
            flex-grow: 1;
            color: $primary-color;
            Link:hover{
                font-weight: bolder;
            }
        }
        .logo{
            display: none;
            align-items: center;
            justify-content: center;
            flex-basis: 100px;
            img{
                width: 40px;
            }
        }
    }

    .Slider{
        width: inherit;
        height: 30vh;
        background: $primary-color;
        display: flex;
        flex-direction: column;
        justify-content: center;
        color: white;
    }

    .categories{
        width: inherit;
        padding: 10px 1px;
        display: flex;
        ul{
            display: flex;
            gap: 10px;
            justify-content: space-evenly;
            flex-grow: 1;
            li{
                list-style: none;
                width: 150px;
                text-align: center;
                border: 1px solid red;
                height: 20px;
                padding-bottom: 25px;
            }
            
        }
    }

    .products{
        width: inherit;
        border: 1px solid black;
        padding: 10px 10px;
    }

}
