/* Mobile first styles */
.SetProfile {
    background-color: white;
    height: 60vh;
    width: 30vw;
    display: flex;
    flex-direction: column;
    justify-content: space-arround;
    padding: 10px 20px;
    border-radius: 5px;
    text-align: center;
  }
  
  .SetProfile h3 {
    color: rgb(255, 174, 0);
    margin-top: 0;

  }
  
  .SetProfile form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .SetProfile form label {
    color: rgb(255, 174, 0);
    margin-bottom: 10px;
  }
  
  .SetProfile form input {
    padding: 10px;
    border: none;
    border-bottom: 1px solid #ccc;
    margin-bottom: 20px;
    width: 60%;
    font-size: 16px;
    color: #333;
  }
  
  .SetProfile form .buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-top: 20px;
  }
  
  .SetProfile form .btn1 {
    background-color: #fff;
    color: rgb(241, 166, 2);
    border: 1px solid rgb(241, 166, 2);
    padding: 10px 40px;
    border-radius: 3px;
    font-size: 16px;
    cursor: pointer;
    transition: all 0.3s ease;
  }
  
  .SetProfile form .btn1:hover {
    background-color: rgb(241, 166, 2);
    color: #fff;
  }
  
  .SetProfile form .btn2 {
    background-color: rgb(241, 166, 2);
    color: #fff;
    border: none;
    padding: 10px 40px;
    border-radius: 3px;
    font-size: 16px;
    cursor: pointer;
    transition: all 0.3s ease;
  }
  
  .SetProfile form .btn2:hover {
    background-color: rgb(199, 113, 0);
  }
  
  /* Tablet and above styles */
  @media only screen and (min-width: 768px) {
    .SetProfile {
      max-width: 500px;
      margin: 0 auto;
    }
  
    .SetProfile h2 {
      font-size: 36px;
    }
  
    .SetProfile form label {
      font-size: 20px;
    }
  
    .SetProfile form input {
      font-size: 20px;
    }
  
    .SetProfile form .buttons {
      margin-top: 40px;
    }
  
    .SetProfile form .btn1 {
      font-size: 20px;
    }
  
    .SetProfile form .btn2 {
      font-size: 20px;
    }
  }
  